<h1>Add a client</h1>

<p>Add a new client here:</p>

<form action="/clients" method="post">
  <label for="description">Client name</label>
  <input id="description" name="description" type="text">


  <button type="submit" class="btn btn-default">Add Client</button>
</form>
