<h1>All stylists</h1>
<div id="stylists">
  #foreach ($stylist in $stylists)
    <div class="stylist-thumbnail">
    <img class="img-thumbnail" src="$stylist.getImage()" alt="Stylist Picture" width="250" height="146" > <br>
    <a href="/stylists/$stylist.getId()">$stylist.getDescription()</a>
    </div>
  #end
</div>
<a href="/stylists/new">Add New Stylist</a>
