<h1>Welcome!</h1>
<p>Add a new Stylist:</p>

<form action="/stylists" method="post">
<label for="image">Profile Picture</label>
<input id="image" name="image" type="text" placeholder="profile-pic">

  <label for="description">Name</label>
  <input id="description" name="description" type="text" placeholder="name">

  <button type="submit" class="btn btn-success">Add Stylist</button>
</form>
